* {
  box-sizing: border-box;
}

body {
  font-family: Karla, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 20px;
  height: 100vh;
  background-color: #0B2434;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 500px;
}

main {
  height: 100%;
  background-color: white;
  border-radius: 10px;
}


